* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #064663;
}

.header {
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
    align-items: center;
}

.title h1 {
    color: #EEB76B;
    font-size: 2rem;
    text-transform: uppercase;
}

i {
    font-size: 2rem;
}

.back:hover, 
.reset:hover {
    cursor: pointer;
}

.spin {
    animation: rot .5s ease-in;
}

@keyframes rot {
    100% {
        transform: rotate(360deg);
    }
}

main {
    width: 90%;
    margin: 0 auto;
}

.score-content {
    width: 100px;
    height: 250px;
    margin: 0 auto;
    top: 220px;
    margin-left: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.score {
    background-color: #D89216;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 600;
}

.score span:nth-child(2){
    transform: rotate(90deg);
    margin-left: 5px;
}

.container {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
}

.computer {
    height: 200px;
    padding-top: 40px;
    background-color: #541212;
    border-radius: 30px 30px 0 0;
}

.info {
    width: 200px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    background-color: #041C32;
    border: 3px solid #FFFF00;
}

.player {
    height: 200px;
    background-color: #8B9A46;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    margin: 0 auto;
}

li {
    list-style: none;
    margin: 10px;
}

img {
    width: 120px;
    top: 20px;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #FF0000;
    border-radius: 10px;
}

.img-comp {
    background-color: #4E9F3D;
}

.gunting, 
.batu, 
.kertas {
    transition: .3s;
    position: relative;
    top: 0;
    cursor: pointer;
}

.gunting:hover, 
.batu:hover, 
.kertas:hover {
    opacity: .8;
}

.gunting:active, 
.batu:active, 
.kertas:active {
    opacity: .6;
    top: 2px;
}

@media (max-width: 576px) {
    .header {
        width: 100%;
        
    }

    .container{
        width: 90%;
        margin-top: 0;
    }

    .score-content {
        width: 300px;
        height: 200px;
        margin: 0 auto;
        position: unset;
        flex-direction: row;
    }

    .score {
        width: 150px;
        height: 50px;
        flex-direction: row;
        justify-content: space-around;
    }

    .score span {
        font-size: 2rem;
        font-weight: 600;
    }

    .score span:nth-child(2){
        transform: unset;
    }

    img {
        width: 80px;
    }
}